body{
    margin: 0;
    padding: 0;
    background: url("lapy.jpg");
    background-size: cover;
    color: aliceblue;
    font-family: sans-serif;
    
}
.loginbox{
    width: 320px;
    height: 420px;
    background-color:darkcyan;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 20px;
    box-sizing: border-box;
    padding:0 20px 0;
  
   
}
h1{
    text-align: center;
    color: bisque;
    padding: 0 0 20px;
    border-bottom:1px solid gray;
}
.loginbox label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    
}
.loginbox input{
    width: 100%;
    border-bottom: 20px;
}
.loginbox input[type="email"],input[type="password"]{
   border: none;
   outline: none;
   background: transparent;
   height: 40px;
   border-bottom: 2px solid black;
   font-size: 16px;
  
}
.loginbox input[type="submit"]{
    border-radius: 20px;
    background-color: rgb(226, 196, 157);
    color: blueviolet;
    width:80%;
    height: 40px;
    top: 40%;
    
}
.loginbox input[type="submit"]:hover{
    background: goldenrod;
    color: black;
}
.loginbox a {
    text-decoration: none;
    color: azure;
}
.loginbox a:hover{
    color:black;
}

